@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url("../images/bg-top.svg") no-repeat, url("../images/bg-bottom.svg") no-repeat;
  background-position: top right, bottom left;
  background-color: #f6f6fe;
  background-size: 25%;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #6d708d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4vw auto 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .title {
  margin: 10px 0 3vw;
  padding: 10px;
  font-size: 2rem;
}

.wrapper .switch {
  margin-bottom: 4vw;
  color: #b3b5c6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Rounded sliders */
}

.wrapper .switch .toggle {
  margin: 0 35px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.wrapper .switch .toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.wrapper .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(#a3a8f0, #696fdd);
}

.wrapper .switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.wrapper .switch input:checked + .slider {
  opacity: 0.5;
}

.wrapper .switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.wrapper .switch .slider.round {
  border-radius: 34px;
}

.wrapper .switch .slider.round:before {
  border-radius: 50%;
}

.pricing__wrapper {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing__wrapper .left,
.pricing__wrapper .center,
.pricing__wrapper .right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 460px;
  max-width: 350px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 18px 0px rgba(155, 155, 155, 0.34);
          box-shadow: 0px 8px 18px 0px rgba(155, 155, 155, 0.34);
  background: white;
  color: #494c5f;
}

.pricing__wrapper .left .plan,
.pricing__wrapper .center .plan,
.pricing__wrapper .right .plan {
  font-size: 20px;
  margin-top: 7px;
  margin-bottom: 5px;
}

.pricing__wrapper .left .price__area,
.pricing__wrapper .center .price__area,
.pricing__wrapper .right .price__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing__wrapper .left .price__area .price,
.pricing__wrapper .center .price__area .price,
.pricing__wrapper .right .price__area .price {
  font-size: 70px;
  margin: 20px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pricing__wrapper .left .price__area .dolar,
.pricing__wrapper .center .price__area .dolar,
.pricing__wrapper .right .price__area .dolar {
  font-size: 40px;
  padding: 5px;
}

.pricing__wrapper .left .storage,
.pricing__wrapper .left .users,
.pricing__wrapper .left .upload,
.pricing__wrapper .center .storage,
.pricing__wrapper .center .users,
.pricing__wrapper .center .upload,
.pricing__wrapper .right .storage,
.pricing__wrapper .right .users,
.pricing__wrapper .right .upload {
  padding: 5px;
  display: block;
  position: relative;
  margin: 10px 0;
}

.pricing__wrapper .left .storage::before,
.pricing__wrapper .left .users::before,
.pricing__wrapper .left .upload::before,
.pricing__wrapper .center .storage::before,
.pricing__wrapper .center .users::before,
.pricing__wrapper .center .upload::before,
.pricing__wrapper .right .storage::before,
.pricing__wrapper .right .users::before,
.pricing__wrapper .right .upload::before {
  content: "";
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -10px;
  left: 50%;
  width: 80%;
  height: 1px;
  background-color: #d9dae2;
}

.pricing__wrapper .left .upload::after,
.pricing__wrapper .center .upload::after,
.pricing__wrapper .right .upload::after {
  content: "";
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -10px;
  left: 50%;
  width: 80%;
  height: 1px;
  background-color: #d9dae2;
}

.pricing__wrapper .left .btn,
.pricing__wrapper .center .btn,
.pricing__wrapper .right .btn {
  margin: 30px auto 5px;
  text-transform: uppercase;
  cursor: pointer;
  height: 42px;
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(#a3a8f0, #696fdd);
  border: none;
  border-radius: 5px;
  color: white;
  letter-spacing: 2px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.pricing__wrapper .left .btn:hover,
.pricing__wrapper .center .btn:hover,
.pricing__wrapper .right .btn:hover {
  border: 1px solid #696fdd;
  background: none;
  color: #696fdd;
}

.pricing__wrapper .center {
  color: white;
  height: 500px;
  background: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(#a3a8f0, #696fdd);
}

.pricing__wrapper .center .btn {
  color: #696fdd;
  position: relative;
  border: none;
  letter-spacing: 1px;
  background: white;
}

.pricing__wrapper .center .btn:hover {
  border: 1px solid white;
  color: white;
}

footer {
  width: 100%;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
}

footer .attribution a {
  color: #3e52a3;
}

@media (max-width: 375px) {
  .wrapper {
    margin: 30px auto 0;
  }
}
/*# sourceMappingURL=styles.css.map */