@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

$base-background: hsl(240, 78%, 98%);
$light-accent: hsl(234, 14%, 74%);
$medium-accent: hsl(233, 13%, 49%);
$strong-accent: hsl(232, 13%, 33%);
$blue-accent: hsl(237, 63%, 64%);

$breakpoint-mobile: 375px;

*,
*::after,
*::before {
  box-sizing: border-box;
}

.page {
  background: url("../images/bg-top.svg") no-repeat,
    url("../images/bg-bottom.svg") no-repeat;
  background-position: top right, bottom left;
  background-color: $base-background;
  background-size: 25%;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: $medium-accent;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  margin: 4vw auto 0;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 10px 0 3vw;
  padding: 10px;
  font-size: 2rem;
}

.switch {
  margin-bottom: 4vw;
  color: hsl(234, 14%, 74%);
  display: flex;
  align-items: center;

  &__toggle {
    margin: 0 35px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  &__checkbox {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));

    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }

  &__checkbox:checked + &__slider {
    opacity: 0.5;
  }

  &__checkbox:checked + &__slider:before {
    transform: translateX(26px);
  }

  /* Rounded sliders */
  &--round {
    border-radius: 34px;
  }

  &--round:before {
    border-radius: 50%;
  }
}

.pricing__wrapper {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  // flex-shrink: 1;
  justify-content: center;
  align-items: center;

  .left,
  .center,
  .right {
    flex-grow: 1;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 460px;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 0px 8px 18px 0px rgba(155, 155, 155, 0.34);
    background: white;
    color: hsl(232, 13%, 33%);

    .plan {
      font-size: 20px;
      margin-top: 7px;
      margin-bottom: 5px;
    }

    .price__area {
      display: flex;
      justify-content: center;
      align-items: center;

      .price {
        font-size: 70px;
        margin: 20px 0;
        transition: 0.4s;
      }

      .dolar {
        font-size: 40px;
        padding: 5px;
      }
    }

    .storage,
    .users,
    .upload {
      padding: 5px;
      display: block;
      position: relative;
      margin: 10px 0;
    }

    .storage::before,
    .users::before,
    .upload::before {
      content: "";
      position: absolute;
      transform: translateX(-50%);
      top: -10px;
      left: 50%;
      width: 80%;
      height: 1px;
      background-color: hsl(234, 14%, 87%);
    }
    .upload::after {
      content: "";
      position: absolute;
      transform: translateX(-50%);
      bottom: -10px;
      left: 50%;
      width: 80%;
      height: 1px;
      background-color: hsl(234, 14%, 87%);
    }

    .btn {
      margin: 30px auto 5px;
      text-transform: uppercase;
      cursor: pointer;
      height: 42px;
      width: 80%;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
      border: none;
      border-radius: 5px;
      color: white;
      letter-spacing: 2px;
      transition: 0.4s linear;

      &:hover {
        border: 1px solid $blue-accent;
        background: none;
        color: $blue-accent;
      }
    }
  }

  .center {
    color: white;
    height: 500px;
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));

    .btn {
      color: $blue-accent;
      position: relative;
      border: none;
      letter-spacing: 1px;
      background: white;

      &:hover {
        border: 1px solid white;
        color: white;
      }
    }
  }
}

.footer {
  width: 100%;

  &__paragraph {
    font-size: 11px;
    text-align: center;
  }
  &__link {
    color: #3e52a3;
  }
}

@media (max-width: $breakpoint-mobile) {
  .wrapper {
    margin: 30px auto 0;
  }
}
